#header {
  text-align: center;
  font-size: 30px;
  margin: 20px;
}

.calcuLator {
  display: grid;
  grid-auto-flow: column;
  justify-content: center;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto auto auto auto auto auto;
}

.item {
  text-align: center;
  padding: 25px;
  background-color: rgba(236, 239, 241, 0.8);
  cursor: pointer;
  font-weight: bold;
  font-family: arial;
  font-size: 20px;
}
.item:hover {
  background-color: rgb(52, 79, 231);
}

.result {
  font-size: 30px;
  padding: 25px;
  font-weight: bold;
  font-family: arial;
  text-align: end;
  border-left: 1px solid rgb(223, 220, 220);
  border-right: 1px solid rgb(223, 220, 220);
  border-top: 1px solid rgb(223, 220, 220);
  background-color: #fff;
  grid-column: 1 / span 4;
}
